<%- include("partials/header.ejs") %>

<form action="/create-post" method="POST">
    <h2>Create New Post</h1>
    <div>
    <label for="title" >Title</label>
    <input type="text" name="title"  id="title"> 
    </div>
    </br>
    <div>
    <label for="post">Post</label>
    <input type="text" name="post" id="post" >    
    </div> 
    </br>
    <input type="submit" value="create new post">
  </form>

<%- include("partials/footer.ejs") %>
